<main class="main-container flex-container" [ngClass]="{ mobile: isMobile }">
  <div
    class="content-wrapper full-width-wrapper"
    [ngClass]="{ mobile: isMobile }"
  >
    <h2 class="page-title">{{ titulo | translate }}</h2>

    <div
      class="form-container fluid-width dynamic-container"
      [ngClass]="{ mobile: isMobile, 'menu-collapsed': isMenuCollapsed }"
    >
      <form>
        <!-- Seção de imagem de perfil alinhada à esquerda -->
        <div class="profile-section" [ngClass]="{ mobile: isMobile }">
          <div class="profile-image-wrapper" [ngClass]="{ mobile: isMobile }">
            <div class="profile-image" [ngClass]="{ mobile: isMobile }">
              <img
                [src]="profileImageUrl || 'assets/images/default-user.png'"
                alt="Imagem de perfil"
              />
            </div>
            <div class="profile-actions" [ngClass]="{ mobile: isMobile }">
              <button
                *ngIf="isCreateMode || isEditMode"
                mat-icon-button
                class="profile-action-button"
                (click)="tirarFoto()"
                matTooltip="{{ 'LABLE_TIRAR_FOTO' | translate }}"
                type="button"
              >
                <mat-icon>camera_alt</mat-icon>
              </button>
              <button
                *ngIf="isCreateMode || isEditMode"
                mat-icon-button
                class="profile-action-button"
                (click)="importarImagem()"
                matTooltip="{{ 'LABLE_IMPORTAR_IMAGEM' | translate }}"
                type="button"
              >
                <mat-icon>photo_library</mat-icon>
              </button>
              <button
                *ngIf="profileImageUrl && (isCreateMode || isEditMode)"
                mat-icon-button
                class="profile-action-button"
                (click)="excluirFoto()"
                matTooltip="{{ 'LABLE_EXCLUIR_IMAGEM' | translate }}"
                type="button"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div
          class="form-content fluid-content"
          [ngClass]="{ mobile: isMobile }"
        >
          <div class="form-section" [ngClass]="{ mobile: isMobile }">
            <h3 class="section-title">
              {{ "LABLE_DADOS_PESSOAIS" | translate }}
            </h3>
            <div class="form-row fluid-row" [ngClass]="{ mobile: isMobile }">
              <div
                class="field-group wide-field fluid-field"
                [ngClass]="{ 'mobile-field': isMobile }"
              >
                <label class="side-label" *ngIf="!isMobile" for="nome-input">
                  {{ "LABLE_NOME" | translate }}:
                </label>
                <mat-form-field appearance="fill" class="expanded-field">
                  <mat-label *ngIf="isMobile">{{
                    "LABLE_NOME" | translate
                  }}</mat-label>
                  <mat-label *ngIf="!isMobile">&nbsp;</mat-label>
                  <input
                    matInput
                    [(ngModel)]="nome"
                    name="nome"
                    id="nome-input"
                    maxlength="100"
                    [readonly]="!isEditMode"
                    required
                  />
                  <mat-error *ngIf="nomeErro">{{ nomeErro }}</mat-error>
                  <mat-hint align="end">{{ nome?.length || 0 }}/100</mat-hint>
                </mat-form-field>
              </div>

              <div
                class="field-group wide-field fluid-field"
                [ngClass]="{ 'mobile-field': isMobile }"
              >
                <label class="side-label" *ngIf="!isMobile" for="email-input">
                  {{ "LABLE_EMAIL" | translate }}:
                </label>
                <mat-form-field appearance="fill" class="expanded-field">
                  <mat-label *ngIf="isMobile">{{
                    "LABLE_EMAIL" | translate
                  }}</mat-label>
                  <mat-label *ngIf="!isMobile">&nbsp;</mat-label>
                  <input
                    matInput
                    [(ngModel)]="emailUsuarioInput"
                    name="email"
                    type="email"
                    id="email-input"
                    maxlength="100"
                    [readonly]="!isEditMode"
                    required
                    autocomplete="off"
                  />
                  <mat-error *ngIf="emailErro">{{ emailErro }}</mat-error>
                  <mat-hint align="end"
                    >{{ emailUsuarioInput?.length || 0 }}/100</mat-hint
                  >
                </mat-form-field>
              </div>
            </div>

            <div class="form-row fluid-row" [ngClass]="{ mobile: isMobile }">
              <div class="field-group" [ngClass]="{ 'mobile-field': isMobile }">
                <label
                  class="side-label"
                  *ngIf="!isMobile"
                  for="data-nascimento-input"
                >
                  {{ "LABLE_DATA_NASCIMENTO" | translate }}:
                </label>
                <mat-form-field appearance="fill">
                  <mat-label *ngIf="isMobile">{{
                    "LABLE_DATA_NASCIMENTO" | translate
                  }}</mat-label>
                  <mat-label *ngIf="!isMobile">&nbsp;</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    [(ngModel)]="dataNascimento"
                    name="dataNascimento"
                    id="data-nascimento-input"
                    [readonly]="!isEditMode"
                    required
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="dataNascimentoErro">{{
                    dataNascimentoErro
                  }}</mat-error>
                </mat-form-field>
              </div>

              <div class="field-group" [ngClass]="{ 'mobile-field': isMobile }">
                <label class="side-label" *ngIf="!isMobile" for="perfil-select">
                  {{ "LABLE_PERFIL" | translate }}:
                </label>
                <mat-form-field appearance="fill">
                  <mat-label *ngIf="isMobile">{{
                    "LABLE_PERFIL" | translate
                  }}</mat-label>
                  <mat-label *ngIf="!isMobile">&nbsp;</mat-label>
                  <mat-select
                    [(ngModel)]="perfilSelecionadoId"
                    name="perfil"
                    id="perfil-select"
                    [disabled]="!isEditMode"
                    required
                  >
                    <mat-option *ngFor="let p of lstPerfis" [value]="p.id">
                      {{ p.nome }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="perfilErro">{{ perfilErro }}</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div
              class="form-row fluid-row"
              *ngIf="isCreateMode"
              [ngClass]="{ mobile: isMobile }"
            >
              <div class="field-group" [ngClass]="{ 'mobile-field': isMobile }">
                <label class="side-label" *ngIf="!isMobile" for="senha-input">
                  {{ "LABLE_SENHA" | translate }}:
                </label>
                <mat-form-field appearance="fill">
                  <mat-label *ngIf="isMobile">{{
                    "LABLE_SENHA" | translate
                  }}</mat-label>
                  <mat-label *ngIf="!isMobile">&nbsp;</mat-label>
                  <input
                    matInput
                    type="password"
                    [(ngModel)]="senha"
                    name="senha"
                    id="senha-input"
                    maxlength="100"
                    required
                  />
                  <mat-error *ngIf="senhaErro">{{ senhaErro }}</mat-error>
                </mat-form-field>
              </div>

              <div class="field-group" [ngClass]="{ 'mobile-field': isMobile }">
                <label
                  class="side-label"
                  *ngIf="!isMobile"
                  for="confirmar-senha-input"
                >
                  {{ "LABLE_CONFIRMAR_SENHA" | translate }}:
                </label>
                <mat-form-field appearance="fill">
                  <mat-label *ngIf="isMobile">{{
                    "LABLE_CONFIRMAR_SENHA" | translate
                  }}</mat-label>
                  <mat-label *ngIf="!isMobile">&nbsp;</mat-label>
                  <input
                    matInput
                    type="password"
                    [(ngModel)]="confirmarSenha"
                    name="confirmarSenha"
                    id="confirmar-senha-input"
                    maxlength="100"
                    required
                  />
                  <mat-error *ngIf="confirmarSenhaErro">{{
                    confirmarSenhaErro
                  }}</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="form-section" [ngClass]="{ mobile: isMobile }">
            <h3 class="section-title">{{ "LABLE_ENDERECO" | translate }}</h3>
            <div class="form-row fluid-row" [ngClass]="{ mobile: isMobile }">
              <div class="field-group" [ngClass]="{ 'mobile-field': isMobile }">
                <label
                  class="side-label"
                  *ngIf="!isMobile"
                  for="logradouro-input"
                >
                  {{ "LABLE_LOGRADOURO" | translate }}:
                </label>
                <mat-form-field appearance="fill" class="logradouro-field">
                  <mat-label *ngIf="isMobile">{{
                    "LABLE_LOGRADOURO" | translate
                  }}</mat-label>
                  <mat-label *ngIf="!isMobile">&nbsp;</mat-label>
                  <input
                    matInput
                    [(ngModel)]="endereco.logradouro"
                    name="logradouro"
                    id="logradouro-input"
                    maxlength="100"
                    [readonly]="!isEditMode"
                    required
                  />
                  <mat-error *ngIf="logradouroErro">{{
                    logradouroErro
                  }}</mat-error>
                </mat-form-field>
              </div>

              <div class="field-group" [ngClass]="{ 'mobile-field': isMobile }">
                <label class="side-label" *ngIf="!isMobile" for="numero-input">
                  {{ "LABLE_NUMERO" | translate }}:
                </label>
                <mat-form-field appearance="fill" class="numero-field">
                  <mat-label *ngIf="isMobile">{{
                    "LABLE_NUMERO" | translate
                  }}</mat-label>
                  <mat-label *ngIf="!isMobile">&nbsp;</mat-label>
                  <input
                    matInput
                    [(ngModel)]="endereco.numero"
                    name="numero"
                    id="numero-input"
                    maxlength="10"
                    [readonly]="!isEditMode"
                    required
                  />
                  <mat-error *ngIf="numeroErro">{{ numeroErro }}</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="form-row fluid-row" [ngClass]="{ mobile: isMobile }">
              <div class="field-group" [ngClass]="{ 'mobile-field': isMobile }">
                <label
                  class="side-label"
                  *ngIf="!isMobile"
                  for="complemento-input"
                >
                  {{ "LABLE_COMPLEMENTO" | translate }}:
                </label>
                <mat-form-field appearance="fill">
                  <mat-label *ngIf="isMobile">{{
                    "LABLE_COMPLEMENTO" | translate
                  }}</mat-label>
                  <mat-label *ngIf="!isMobile">&nbsp;</mat-label>
                  <input
                    matInput
                    [(ngModel)]="endereco.complemento"
                    name="complemento"
                    id="complemento-input"
                    maxlength="100"
                    [readonly]="!isEditMode"
                  />
                  <mat-error *ngIf="bairroErro">{{ bairroErro }}</mat-error>
                </mat-form-field>
              </div>

              <div class="field-group" [ngClass]="{ 'mobile-field': isMobile }">
                <label class="side-label" *ngIf="!isMobile" for="bairro-input">
                  {{ "LABLE_BAIRRO" | translate }}:
                </label>
                <mat-form-field appearance="fill">
                  <mat-label *ngIf="isMobile">{{
                    "LABLE_BAIRRO" | translate
                  }}</mat-label>
                  <mat-label *ngIf="!isMobile">&nbsp;</mat-label>
                  <input
                    matInput
                    [(ngModel)]="endereco.bairro"
                    name="bairro"
                    id="bairro-input"
                    maxlength="100"
                    [readonly]="!isEditMode"
                    required
                  />
                  <mat-error *ngIf="bairroErro">{{ bairroErro }}</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="form-row fluid-row" [ngClass]="{ mobile: isMobile }">
              <div class="field-group" [ngClass]="{ 'mobile-field': isMobile }">
                <label class="side-label" *ngIf="!isMobile" for="pais-select">
                  {{ "LABLE_PAIS" | translate }}:
                </label>
                <mat-form-field appearance="fill">
                  <mat-label *ngIf="isMobile">{{
                    "LABLE_PAIS" | translate
                  }}</mat-label>
                  <mat-label *ngIf="!isMobile">&nbsp;</mat-label>
                  <mat-select
                    [(ngModel)]="paisId"
                    name="Pais"
                    id="pais-select"
                    [disabled]="!isEditMode"
                    (selectionChange)="getEstados()"
                    required
                  >
                    <mat-option
                      *ngFor="let pais of lstPaises"
                      [value]="pais.id"
                    >
                      {{ pais.nome }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="paisErro">{{ paisErro }}</mat-error>
                </mat-form-field>
              </div>

              <div class="field-group" [ngClass]="{ 'mobile-field': isMobile }">
                <label class="side-label" *ngIf="!isMobile" for="estado-select">
                  {{ "LABLE_ESTADO" | translate }}:
                </label>
                <mat-form-field appearance="fill">
                  <mat-label *ngIf="isMobile">{{
                    "LABLE_ESTADO" | translate
                  }}</mat-label>
                  <mat-label *ngIf="!isMobile">&nbsp;</mat-label>
                  <mat-select
                    [(ngModel)]="estadoId"
                    name="estado"
                    id="estado-select"
                    [disabled]="!isEditMode"
                    (selectionChange)="getCidades()"
                    required
                  >
                    <mat-option
                      *ngFor="let estado of lstEstados ?? []"
                      [value]="estado.id"
                    >
                      {{ estado.nome }}
                    </mat-option>
                    <mat-option
                      *ngIf="!lstEstados?.length"
                      [value]="null"
                      disabled
                    >
                      {{ "MENSAGEM_NENHUM_ESTADO_DISPONIVEL" | translate }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="estadoErro">{{ estadoErro }}</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="form-row fluid-row" [ngClass]="{ mobile: isMobile }">
              <div class="field-group" [ngClass]="{ 'mobile-field': isMobile }">
                <label class="side-label" *ngIf="!isMobile" for="cidade-select">
                  {{ "LABLE_CIDADE" | translate }}:
                </label>
                <mat-form-field appearance="fill">
                  <mat-label *ngIf="isMobile">{{
                    "LABLE_CIDADE" | translate
                  }}</mat-label>
                  <mat-label *ngIf="!isMobile">&nbsp;</mat-label>
                  <mat-select
                    [(ngModel)]="cidadeId"
                    name="cidade"
                    id="cidade-select"
                    [disabled]="!isEditMode"
                    (selectionChange)="selecionarCidade()"
                    required
                  >
                    <mat-option
                      *ngFor="let cidade of lstCidades ?? []"
                      [value]="cidade.id"
                    >
                      {{ cidade.nome }}
                    </mat-option>
                    <mat-option
                      *ngIf="!lstCidades?.length"
                      [value]="null"
                      disabled
                    >
                      {{ "MENSAGEM_NENHUMA_CIDADE_DISPONIVEL" | translate }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="cidadeErro">{{ cidadeErro }}</mat-error>
                </mat-form-field>
              </div>

              <div class="field-group" [ngClass]="{ 'mobile-field': isMobile }">
                <label class="side-label" *ngIf="!isMobile" for="cep-input">
                  {{ "LABLE_CEP" | translate }}:
                </label>
                <mat-form-field appearance="fill">
                  <mat-label *ngIf="isMobile">{{
                    "LABLE_CEP" | translate
                  }}</mat-label>
                  <mat-label *ngIf="!isMobile">&nbsp;</mat-label>
                  <input
                    matInput
                    [(ngModel)]="endereco.cep"
                    name="cep"
                    id="cep-input"
                    maxlength="9"
                    [readonly]="!isEditMode"
                    required
                  />
                  <mat-error *ngIf="cepErro">{{ cepErro }}</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="form-actions" [ngClass]="{ mobile: isMobile }">
            <button
              mat-raised-button
              type="button"
              (click)="cancelar()"
              [class.full-width-btn]="isMobile"
            >
              <mat-icon>arrow_back</mat-icon>
              {{ "LABLE_VOLTAR" | translate }}
            </button>

            <button
              *ngIf="isEditMode"
              mat-raised-button
              color="primary"
              type="button"
              (click)="salvarUsuario()"
              [class.full-width-btn]="isMobile"
              [class.mt-2]="isMobile"
            >
              <mat-icon>save</mat-icon>
              {{
                isCreateMode
                  ? ("LABLE_CADASTRAR" | translate)
                  : ("LABLE_ATUALIZAR" | translate)
              }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
