<div
  class="login-container"
  [ngClass]="{ 'mobile-view': isMobile, 'desktop-view': !isMobile }"
>
  <mat-card class="login-card">
    <!-- Logo posicionada dentro do card para garantir visibilidade -->
    <div
      class="logo-container"
      [ngClass]="{ 'logo-desktop': !isMobile, 'logo-mobile': isMobile }"
    >
      <img
        src="assets/images/Logotipo.jpg"
        alt="Login Icon"
        class="responsive-img"
      />
    </div>

    <mat-card-header>
      <mat-card-title>{{ "login" | translate }}</mat-card-title>
    </mat-card-header>

    <!-- Mensagem acima dos campos no mobile -->
    <div *ngIf="isMobile && mensagem" class="message-container">
      <p class="login-message">{{ mensagem }}</p>
    </div>

    <mat-card-content>
      <!-- Mensagem apenas para desktop -->
      <div *ngIf="!isMobile && mensagem" class="message-container">
        <p class="login-message">{{ mensagem }}</p>
      </div>

      <form class="login-form">
        <mat-form-field class="full-width">
          <mat-label>E-mail</mat-label>
          <input
            matInput
            type="email"
            [(ngModel)]="email"
            name="email"
            required
            placeholder="{{ 'LABLE_DIGITE_SEU_EMAIL' | translate }}"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>{{ "LABLE_SENHA" | translate }}</mat-label>
          <input
            matInput
            type="password"
            [(ngModel)]="senha"
            name="senha"
            required
          />
        </mat-form-field>

        <div class="remember-forgot" [class.mobile-layout]="isMobile">
          <mat-checkbox [(ngModel)]="lembrarSenha" name="lembrarSenha">
            {{ "LABLE_LEMBRAR_ME" | translate }}
          </mat-checkbox>
          <a
            (click)="recuperarSenha()"
            (keyup.enter)="recuperarSenha()"
            class="forgot-link"
            tabindex="0"
            role="button"
          >
            {{ "LABLE_ESQUECEU_SENHA" | translate }}
          </a>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions align="end" [ngClass]="{ 'center-actions': isMobile }">
      <button
        mat-raised-button
        color="primary"
        (click)="onLogin()"
        [disabled]="isProcessing"
        #loginButton
        class="login-btn"
        [class.full-width-btn]="isMobile"
      >
        {{ "login" | translate }}
      </button>
    </mat-card-actions>

    <mat-card-footer *ngIf="isProcessing">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
