.categorias-container {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px;
}

h2 {
  margin-bottom: 20px;
}

button {
  margin-right: 10px;
}

.table {
  width: 100%;
  margin-top: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.filtro-nome-field {
  flex: 3; /* Ocupa 3 partes do espaço disponível */
  min-width: 300px;
}

.filtro-status-field {
  flex: 1; /* Ocupa 1 parte do espaço disponível */
  min-width: 200px;
}
